[user]
    name = Eric Johnson
    email = eric.johnson@foxtons.co.uk
[color]
   diff = auto
   status = auto
   branch = auto
[alias]
   ci = commit
   cia = commit -a
   st = status -s
   di = diff -b
   tree = log --graph --pretty=oneline --abbrev-commit
   co = checkout
   br = branch -a
   mrg = merge --no-ff
[core]
   #excludesfile = "/etc/gitexcludes"
   autocrlf = input
[difftool]
   prompt = 0
[diff]
   tool = vimdiff
