[submodule "links/.vim/bundle/vim-easymotion"]
	path = links/.vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "links/.vim/bundle/vimproc"]
	path = links/.vim/bundle/vimproc
	url = git@github.com:Shougo/vimproc.git
[submodule "links/.vim/bundle/vim-autoclose"]
	path = links/.vim/bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "links/.vim/bundle/perlomni.vim"]
	path = links/.vim/bundle/perlomni.vim
	url = git@github.com:c9s/perlomni.vim.git
[submodule "links/.vim/bundle/vim-buffergator"]
	path = links/.vim/bundle/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "links/.vim/bundle/vim-scratch"]
	path = links/.vim/bundle/vim-scratch
	url = git@github.com:kana/vim-scratch.git
[submodule "links/.vim/bundle/tagbar"]
	path = links/.vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "links/.vim/bundle/gundo.vim"]
	path = links/.vim/bundle/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "links/.vim/bundle/vim-eunuch"]
	path = links/.vim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "links/.vim/bundle/vim-fugitive"]
	path = links/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "links/.vim/bundle/vim-markdown"]
	path = links/.vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "links/.vim/bundle/vim-rsi"]
	path = links/.vim/bundle/vim-rsi
	url = git@github.com:tpope/vim-rsi.git
[submodule "links/.vim/bundle/vim-pathogen"]
	path = links/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "links/.vim/bundle/ctrlp.vim"]
	path = links/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "links/.vim/bundle/tabular"]
	path = links/.vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "links/.vim/bundle/vim-seek"]
	path = links/.vim/bundle/vim-seek
	url = git@github.com:goldfeld/vim-seek.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "v"]
	path = v
	url = git@github.com:rupa/v.git
[submodule "links/.vim/bundle/gitv"]
	path = links/.vim/bundle/gitv
	url = git@github.com:gregsexton/gitv.git
[submodule "links/.vim/bundle/vim-git"]
	path = links/.vim/bundle/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule "links/.vim/bundle/vim-git-log"]
	path = links/.vim/bundle/vim-git-log
	url = git@github.com:kablamo/vim-git-log.git
[submodule "links/.vim/bundle/vim-airline"]
	path = links/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "links/.vim/bundle/tmuxline.vim"]
	path = links/.vim/bundle/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "links/.vim/bundle/vim-gitgutter"]
	path = links/.vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "perldoc-complete"]
	path = perldoc-complete
	url = git@github.com:ap/perldoc-complete.git
