[user]
    name = Eric Johnson
    email = eric.git@iijo.org
[alias]
   ci = commit
   cia = commit -a
   st = status -s
   di = diff -b
   dt = difftool 
   tree = log --graph --pretty=oneline --abbrev-commit
   co = checkout
   br = branch
   mrg = merge --no-ff
   l = log --name-only
[core]
   #excludesfile = "/etc/gitexcludes"
   autocrlf = input
[diff]
   tool = vimdiff
[difftool]
   prompt = 1
