[user]
    name = Eric Johnson
    email = eric.git@iijo.org
[alias]
    alias = config --get-regexp alias
    b = branch
# TODO - write this:
#   backup = !"git checkout -b $(oldname)-original"
    c = commit
    ca = commit -a
#   catchup = log --patch --reverse --topo-order _ribbon..origin/master
#   catchup = "log --pretty=format:'git d -r %p -r %h%n%an %cr' --author='\\(mich\\|fran\\|leo\\)' --no-merges --patch --reverse --topo-order _ribbon..origin/master"
    co = checkout
    count = shortlog --summary --numbered
    d = difftool 
    deleted = log --diff-filter=D --summary
    di = diff --ignore-space-change
    df = diff --name-only
    h = help
    history = blame -w -c --show-number
    jo = "!f () { vim $(git diff --name-only $@); }; f"
    jm = "!f () { vim $(git diff --name-only --diff-filtered=U $@); }; f"
    ll = log --pretty=format:'%C(bold white)%s%Creset%n%h %an %ci %cr'   --abbrev-commit --name-only #--no-merges 
    lo = "!f () { git log --no-merges --abbrev-commit --date=relative --pretty=format:'%h%x00%cd%x00%s%x00%an' $@ | gawk -F '\\0' '{ printf \"%s %-12s  %-100s %s\\n\", $1, $2, gensub(/(.{79}).{2,}/, \"\\\\1…\",\"g\",$3), $4 }' | less -R; }; f"
    ls = log --pretty=format:'%C(bold white)%s%Creset\n%h %an %ci %cr\n' --abbrev-commit --no-merges
    mrg = merge --no-ff
    p = push origin HEAD
    pp = !"echo 'Pull'; git pull; echo 'Push'; git push origin HEAD"
#   ribbon = tag --force _ribbon origin/master
#   r = pull --rebase origin stage
    s = status --short --branch
    tree = log --graph --pretty=oneline --abbrev-commit
    undo = git reset --hard HEAD^
    whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
[branch]
    autosetuprebase = always
[core]
    #excludesfile = "/etc/gitexcludes"
	autocrlf = false
    excludesfile = /home/eric/.gitignore_global
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[rebase]
    autosquash = true
[pager]
    status = true
    show-branch = true
[push]
    default = current

[color]
	ui = false
